<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
  </head>
  <body>
    <div class="super-container">
    <div class="container">
      
      <form method="post" class="form-container" id="form" action="/signup">
        <h2 class="title">SignUp</h2>
        <div class="input-container">
          <span ></span>
          <input
            type="text"
            name="username"
            id="username"
            autocomplete="username"
            required
            pattern="[0-9a-zA-Z]{4,15}"
            title="Please enter a valid username with 4-16 characters"
            minlength="4"
            maxlength="15"
            hx-post="/checkUsername"
           
            hx-target="span"
            hx-swap="innerHTML"
            hx-push-url="true"
            hx-response-error ="span"
            


          />
          <label for="username">Username</label>
        </div>
        <div class="input-container ">
          <span ></span>
          <input
            type="password"
            name="password"
            id="password"
            autocomplete="current-password"
            required
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Please enter a valid password with 6-15 characters and contain alphanumeric"
            minlength="6"
            maxlength="15"
          />
          <label for="password">Password</label>
        </div>
        <div class="input-container">
          <span "></span>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            autocomplete="current-password"
            required
          />
          <label for="confirm-password">Confirm Password</label>
        </div>
        <div class="input-container">
          <span id =email-error ></span>
          <input
            type="email"
            name="email"
            id="email"
            required
            hx-post="/checkEmail"
           
            hx-target="#email-error"
            hx-swap="innerHTML"
            hx-push-url="true"

            
          />
          <label for="email">Email</label>
        </div>
        <input type="submit" class="btn" value="signup" />
        <a href="login.html"> Already have account?</a>
      </form>
    </div>
    </div>
  </body>
</html>
